@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Luckiest+Guy&family=Shadows+Into+Light&display=swap');


:root{
    --cor-de-fundo:#b87dee;
    --texto1:#61e25d;
    --texto2:#61e25d;
    --botao-ativo:#6a3b91;
    --botao-inativo: rgb(126, 85, 163);
    --botao-fundo: rgb(255, 255, 255);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    font-family: "Amatic SC" ;
}

.conteudo-principal{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 100%;
     margin:0 auto;
}

.titulo-principal{
     text-align: center;
     width: 100%;
     font-size: 36px;
}

.botao{
     font-family: "Amatic SC", sans-serif;
     background-color: var(--botao-inativo);
     display: flex;
     color: var(--texto1);
     justify-content: center;
     padding: 1em 3em;
     font-size: 25px;
     align-items: center;
     width: 110%;
}

.botoes{
     display:flex;
}

.botao:first-child{
     border-radius: 30px 0 0 0;
}

.botao:last-child{
     border-radius:0 30px 0 0;
}

.ativo{
     background: var(--botao-ativo);
     border-bottom: 4px solid #61e25d ;
}